#nav-bar {
  z-index: 1;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em 0px 2em;
  }

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 5px;
}

#nav-bar .header {
  float: left;
  padding-left: 5px;
  font-size: 40px;
  line-height: 2;
}

#nav-bar button:hover {
  float: right;
  background-color: #ebfdff;
  text-align: center;
  font-size: 130%;
  border-style: none;
  line-height: 3em;
  width: 7em;
  margin-top: 7px;
  border-radius: 10px
}

#nav-bar button {
  float: right;
  background-color: #d8fbff;
  text-align: center;
  font-size: 130%;
  border-style: none;
  line-height: 3em;
  width: 7em;
  margin-top: 7px;
  border-radius: 10px
}